# --
# Copyright (C) 2001-2020 OTRS AG, https://otrs.com/
# --
# This software comes with ABSOLUTELY NO WARRANTY. For details, see
# the enclosed file COPYING for license information (GPL). If you
# did not receive this file, see https://www.gnu.org/licenses/gpl-3.0.txt.
# --
[% InsertTemplate("CustomerHeader.tt") %]

<!-- start login -->
<style>
    #BlitzLogo {
        margin-top: 5px;
        background-color: #dededf;
        border: 10px solid;
        border-color: #dededf;
        background-image: url('/otrs-web/skins/Agent/default/img/logo-bip-idp.png'); width: 188px; height: 32px;}
</style>
<div id="MainBox" class="Login ARIARoleMain">
[% RenderBlockStart("Message") %]
    <div class="[% IF Data.MessageType == 'Success' %]SuccessBox[% ELSE %]ErrorBox[% END %]"><span>[% Translate(Data.Message) | html %]</span></div>
[% RenderBlockEnd("Message") %]
    <noscript>
    <div id="NoJavaScript">
        <h2>[% Translate("JavaScript Not Available") | html %]</h2>
        <p>
            [% Translate("In order to experience this software, you'll need to enable JavaScript in your browser.") | html %]
        </p>
    </div>
    </noscript>
    <div class="Hidden" id="OldBrowser">
        <h2 class="Center">[% Translate("Browser Warning") | html %]</h2>
        <p>
            [% Translate("The browser you are using is too old.") | html %]
            [% Translate("This software runs with a huge lists of browsers, please upgrade to one of these.") | html %]
            [% Translate("Please see the documentation or ask your admin for further information.") | html %]
        </p>
    </div>

[% RenderBlockStart("SystemMaintenance") %]
    <div class="WarningBox WithIcon">
        <i class="fa fa-exclamation-circle"></i> [% Translate(Data.LoginMessage) | html %]
    </div>
[% RenderBlockEnd("SystemMaintenance") %]

    <div id="Slider">
        <div id="SlideArea">
[% RenderBlockStart("PreLogin") %]
            <div id="PreLogin">
                <p>[% Translate("One moment please, you are being redirected...") | html %]</p>
                <form action="[% Env("CGIHandle") %]" method="post" enctype="application/x-www-form-urlencoded" name="login">
                    <input type="hidden" name="Action" value="Login" />
                    <input type="hidden" name="RequestedURL" value="[% Data.RequestedURL | html %]"/>
                    <input type="hidden" name="Lang" value="[% Env("UserLanguage") | html %]"/>
                    <input type="hidden" name="TimeZoneOffset" id="TimeZoneOffset" value=""/>
                </form>
            </div>
[% RenderBlockEnd("PreLogin") %]
[% RenderBlockStart("LoginBox") %]
            <div id="Login">
                <h2>[% Translate("Login") | html %]</h2>
                <form class="Floating" action="[% Env("CGIHandle") %]" method="post" enctype="application/x-www-form-urlencoded" name="login">
                    <input type="hidden" name="Action" value="Login"/>
                    <input type="hidden" name="RequestedURL" value="[% Data.RequestedURL | html %]"/>
                    <input type="hidden" name="Lang" value="[% Env("UserLanguage") | html %]"/>
                    <input type="hidden" name="TimeZoneOffset" id="TimeZoneOffset" value=""/>
                    <div>
                        <label for="User">[% Translate("User name") | html %]</label>
                        <input autocorrect="off" autocapitalize="off" autocomplete="[% Data.UserNameAutocomplete %]" title="[% Translate("Your user name") | html %]" type="text" name="User" id="User" maxlength="150" />
                    </div>
                    <div>
                        <label for="Password">[% Translate("Password") | html %]</label>
                        <input title="[% Translate("Your password") | html %]" type="password" name="Password" id="Password" autocomplete="[% Data.PasswordAutocomplete %]" />
[% RenderBlockStart("LostPasswordLink") %]
                        <div class="Option">
                            <a href="#Reset" id="ForgotPassword">[% Translate("Forgot password?") | html %]</a>
                        </div>
[% RenderBlockEnd("LostPasswordLink") %]
                    </div>
[% RenderBlockStart("AuthTwoFactor") %]
                    <div>
                        <label for="TwoFactorToken">[% Translate("2 Factor Token") | html %]</label>
                        <input title="[% Translate("Your 2 Factor Token") | html %]" type="text" name="TwoFactorToken" id="TwoFactorToken" />
                    </div>
[% RenderBlockEnd("AuthTwoFactor") %]

                    <div>
                        <button type="submit" value="[% Translate("Log In") | html %]" disabled="disabled">[% Translate("Log In") | html %]</button>
                    </div>
                    <div class="Clear"></div>
                </form>
[% RenderBlockStart("AuthBlitz") %]
            <div>
#                <p class="Center SpacingTop"> [% Translate('or') | html %] </p>
                <div id="BlitzLogo" class="CenterBox"></div>
            </div>
[% RenderBlockEnd("AuthBlitz") %]

[% RenderBlockStart("CreateAccountLink") %]
                <p>[% Translate("Not yet registered?") | html %] <a href="#Signup">[% Translate("Sign up now") | html %]</a>.</p>
[% RenderBlockEnd("CreateAccountLink") %]
            </div>
[% RenderBlockEnd("LoginBox") %]
[% RenderBlockStart("LostPassword") %]
            <div id="Reset">
                <a href="#Login" class="InlineNavigation">&larr; [% Translate("Back") | html %]</a>
                <h2>[% Translate("Request New Password") | html %]</h2>
                <form class="Floating" action="[% Env("CGIHandle") %]" method="post" enctype="application/x-www-form-urlencoded">
                    <input type="hidden" name="Action" value="CustomerLostPassword" />
                    <input type="hidden" name="Lang" value="[% Env("UserLanguage") | html %]" />
                    <div>
                        <label for="ResetUser">[% Translate("User name") | html %]</label>
                        <input title="[% Translate("Your User Name") | html %]" type="text" id="ResetUser" name="User" maxlength="150" />
                    </div>
                    <div>
                        <button type="submit" value="[% Translate("Submit") | html %]" disabled="disabled">[% Translate("Submit") | html %]</button>
                    </div>
                    <div class="Clear"></div>
                </form>
                <p>[% Translate("A new password will be sent to your email address.") | html %]</p>
            </div>
[% RenderBlockEnd("LostPassword") %]
[% RenderBlockStart("CreateAccount") %]
            <div id="Signup">
                <a href="#Login" class="InlineNavigation">&larr; [% Translate("Back") | html %]</a>
                <h2>[% Translate("Create Account") | html %]</h2>
                <p>[% Translate("Please fill out this form to receive login credentials.") | html %]</p>
                <form class="Floating Validate" action="[% Env("CGIHandle") %]" method="post" enctype="application/x-www-form-urlencoded">
                    <input type="hidden" name="Action" value="CustomerCreateAccount"/>
                    <input type="hidden" name="Lang" value="[% Env("UserLanguage") | html %]"/>
                    <div>
                        <label for="Title">[% Translate("Title or salutation") | html %]</label>
                        <input title="[% Translate("How we should address you") | html %]" type="text" name="Title"  id="Title" class="W50pc" value="[% Data.UserTitle | html %]"/>
                    </div>
                    <div class="NewLine">
                        <label class="Mandatory" for="FirstName"><span class="Marker">*</span> [% Translate("Firstname") | html %]</label>
                        <input title="[% Translate("Your First Name") | html %]" name="Firstname" type="text" id="FirstName" maxlength="100" value="[% Data.UserFirstname | html %]" class="W50pc Validate_Required"/>
                        <div id="FirstNameError" class="TooltipErrorMessage"><p>[% Translate("This field is required.") | html %]</p></div>
                    </div>
                    <div class="NewLine">
                        <label class="Mandatory" for="LastName"><span class="Marker">*</span> [% Translate("Lastname") | html %]</label>
                        <input title="[% Translate("Your Last Name") | html %]" name="Lastname" type="text" id="LastName" maxlength="100" value="[% Data.UserLastname | html %]" class="W50pc Validate_Required"/>
                        <div id="LastNameError" class="TooltipErrorMessage"><p>[% Translate("This field is required.") | html %]</p></div>
                    </div>
                    <div class="NewLine">
                        <label class="Mandatory" for="Email"><span class="Marker">*</span> [% Translate("Email") | html %]</label>
                        <input title="[% Translate("Your email address (this will become your username)") | html %]" name="Email" type="[% Env("EmailFieldType") | html %]" id="Email" maxlength="150" value="[% Data.UserEmail | html %]" class="W100pc Validate_Required Validate_Email"/>
                        <div id="EmailError" class="TooltipErrorMessage"><p>[% Translate("This field is required.") | html %]</p></div>
                    </div>
                    <div class="NewLine">
                        <button id="CreateAccount" type="submit" value="[% Translate("Create") | html %]" disabled="disabled">[% Translate("Create") | html %]</button>
                    </div>
                    <div class="Clear"></div>
                </form>
            </div>
[% RenderBlockEnd("CreateAccount") %]
            <div class="Clear"></div>
        </div> <!-- /SlideArea -->
    </div>
</div>
<!-- stop login -->

[% InsertTemplate("CustomerFooter.tt") %]

<script>
    document.getElementById('BlitzLogo').addEventListener('click', function() {

        var host = 'https://login.tr.local';
        var path = '/blitz/oauth/ae';
        var params = {
            scope: 'openid+profile',
            response_type: 'code',
            access_type: 'offline',
            redirect_uri: 'https://otrs.dev-mcx.ru/otrs/sso.pl',
            client_id: 'portal-bitrix'
        };

        var url = host + path + '?';

        var keys = Object.keys(params);
        for (var i = 0; i < keys.length; i++) {
            url += keys[i] + '=' + params[keys[i]];
            if ((i+1) != keys.length) url += '&'
        }

        // window.location.href = "http://www.w3schools.com";
        // Simulate an HTTP redirect:
        window.location.replace(url);
    })
</script>
